{% extends 'base.html.twig' %}

{% block body %}
    <div ng-controller="formController">


        <div class="ui message hidden">
            <p id="messages" ng-show="message">{[{message}]}</p>
        </div>


        <div class="ui message">
            <div class="header">
                Eliminando usuario
            </div>
            <p>
                Desea realmente eliminar el usuario <strong>{{ names }} </strong> ?
            </p>
        </div>

        {{ form_start(form, {'attr':{'ng-submit':'processForm($event)', 'class':'ui big form' }}) }}
            {{ form_row(form.id)  }}

        <div class="inline fields">

            <div class="field">
                {{ form_label(form.btnSubmit) }}
                {{ form_widget(form.btnSubmit) }}
            </div>

            <div class="field">
                {{ form_label(form.btnCancel) }}
                {{ form_widget(form.btnCancel) }}
            </div>

        </div>
            {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}


    </div>
{% endblock %}


{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/angular.min.js') }}"></script>
    <script src="{{ asset('js/form.js') }}"></script>
    {% if  id is defined %}
        <script>
            function populateDataForm(scope) {
                scope.formData = {
                    id: "{{ id }}"
                };
            }
        </script>
    {%  endif %}


{% endblock %}