{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="ui header">
        {{ subjectPage }}
    </h1>


    <div id="wrapper" ng-controller="formController">

        <div class="ui message hidden">
            <p id="messages" ng-show="message">{[{message}]}</p>
        </div>


        {{ form_start(form, {'attr':{'ng-submit':'processForm($event)', 'class':'ui big form' }}) }}
            {{ form_row(form.id)  }}

        <div class="field">
            {{ form_widget(form.started) }}
        </div>

        <div class="field">
            {{ form_label(form.names) }}
            {{ form_errors(form.names) }}
            {{ form_widget(form.names) }}
        </div>

        <div class="field">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div class="field">
            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </div>

        <div class="field">
            {{ form_label(form.password) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
        </div>

        <div class="field">
            {{ form_label(form.status) }}
            {{ form_errors(form.status) }}
            {{ form_widget(form.status) }}
        </div>

        <div class="inline fields">

            <div class="field">
            {{ form_label(form.btnAdd) }}
            {{ form_widget(form.btnAdd) }}
            </div>

            <div class="field">
            {{ form_label(form.btnCancel) }}
            {{ form_widget(form.btnCancel) }}
            </div>

        </div>



        {{ form_end(form, {'render_rest': false}) }}

    </div>

{% endblock %}


{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/angular.min.js') }}"></script>
    <script src="{{ asset('js/form.js') }}"></script>
    {% if  dataUser is defined %}
        <script>
            function populateDataForm(scope) {
                scope.formData = {
                    id: "{{ dataUser['id'] }}",
                    names: "{{ dataUser['names'] }}",
                    email: "{{ dataUser['email'] }}",
                    username: "{{ dataUser['username'] }}",
                    status: "{{ dataUser['status'] }}",
                    password: "{{ dataUser['password'] }}",
                    started: "{{ dataUser['started'] }}",
                };
            }
        </script>
    {%  endif %}


{% endblock %}
